body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('pic.jpg'); /* Replace with the correct path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh; /* Adjust the height as needed */
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              rgba(240, 240, 240, 0.4); /* Adjust the alpha value for transparency */
  border: 10px solid #ffcc00;
  border-image: linear-gradient(45deg, #ff9900, #ff00cc) 1;
  border-radius: 10px;
  overflow: hidden;
}

.welcome-section {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  color: #fff;
}

.profile-image {
  border-radius: 50%;
  width: 150px; /* Set the desired width for the image */
  height: 150px;
  margin-top: 20px;
}

.about-me {
  color: #fff;
  font-size: 16px;
}

/* Existing styles */

.social-links {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
  justify-content: center; /* Center items horizontally */

  /* Additional styles for mobile devices */
  @media (max-width: 600px) {
    flex-direction: column; /* Display items in a column on small screens */
    align-items: center; /* Center items vertically */
  }
}

.social-link {
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  display: flex; /* Align icon and text horizontally */
  align-items: center; /* Center items vertically */

  /* Additional styles for mobile devices */
  @media (max-width: 600px) {
    margin-bottom: 10px; /* Add space between items in a column on small screens */
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Rest of your styles */
